@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
  margin: 0;
  background-color: #2f3640;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  min-height: 500px;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid green;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em;
}

label {
  margin-bottom: auto;
  text-align: center;
}

input,select {
  width: 100%;
  margin: auto;
  font-size: 2rem;
}

.showPasswordCheckboxWrapper {
  width: 50%;
  min-height: 4rem;
  max-height: 4rem;
  margin-bottom: auto;
  padding: 0;
}

.showPasswordCheckboxWrapper > input {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0;
}

.showPasswordCheckboxWrapper > label {
  width: 100%;
  text-align: left;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-nav, #submit {
  display: flex;
  width: 5em;
  padding: 1em;
  border-radius: 5px;
  margin: 0 1em;
  text-decoration: none;
  border: 1px solid white;
}

.btn-nav:hover, .btn-nav:focus {
  background-color: #78e08f;
  color: black;
}

.btn-next, #submit {
  justify-content: center;
  order: 2;
}

.btn-prev {
  justify-content: center;
  order: 1;
}

#submit {
  background-color: #78e08f;
  color: black;
}

#submit:hover, #submit:focus {
  background-color: black;
  color: #78e08f;
}

#success-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#success-message {
  width: 50%;
  text-align: center;
}

#restart {
  width: 50%;
  justify-content: center;
  background-color: #b71540;
}